@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#avim-tb {
	color: rgb(34, 34, 34);
	list-style-image: url("chrome://avim/content/skin/tb.png");
	-moz-image-region: rect(0, 18px, 18px, 0);
}

#avim-tb[open="true"] {
	-moz-image-region: rect(18px, 18px, 36px, 0);
}

#avim-tb[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #avim-tb {
	list-style-image: url("chrome://avim/content/skin/tb@2x.png");
	-moz-image-region: rect(0, 32px, 32px, 0);
}

#avim-tb[cui-areatype="menu-panel"][open="true"],
toolbarpaletteitem[place="palette"] > #avim-tb[open="true"] {
	-moz-image-region: rect(36px, 32px, 66px, 0);
}

#avim-tb:not([cui-areatype="menu-panel"]) .toolbarbutton-menubutton-button {
	-moz-box-orient: horizontal;
}

#avim-status[avim-hidden="true"],
#avim-tb .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #avim-tb .toolbarbutton-text {
	display: none;
}

#avim-tb .toolbarbutton-text,
#avim-tb[cui-areatype="menu-panel"] .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #avim-tb .toolbarbutton-icon {
	display: -moz-box;
}

#avim-tb .toolbarbutton-text,
#avim-status {
	animation: enabled 2s ease-in-out;
}

#avim-tb[avim-disabled="true"] .toolbarbutton-text,
#avim-status[avim-disabled="true"] {
	animation: disabled 2s ease-in-out;
	text-decoration: line-through;
	-moz-text-decoration-style: double;
	-moz-text-decoration-color: currentColor;
}

#avim-status[avim-hidden="true"] {
	display: none;
}

:-moz-any(#avim-status-enabled, #avim-status-enabled-dynamic)
	:-moz-any(.menu-accel, .menu-iconic-accel)::before {
	content: "Ctrl Ctrl";
}

:-moz-any(#avim-status-enabled, #avim-status-enabled-dynamic)[avim-accel="mac"]
	:-moz-any(.menu-accel, .menu-iconic-accel)::before {
	content: "\2303\2303";
}

@keyframes enabled {
	from {
		color: #3366ff;
	}
	
	to {
		color: currentColor;
	}
}

@keyframes disabled {
	from {
		-moz-text-decoration-color: red;
	}
	
	to {
		-moz-text-decoration-color: currentColor;
	}
}
