@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#avim-tb-enabled {
	list-style-image: url("chrome://avim/content/skin/tb-enabled.png");
}
#avim-tb-auto {
	list-style-image: url("chrome://avim/content/skin/tb-auto.png");
}
#avim-tb-telex {
	list-style-image: url("chrome://avim/content/skin/tb-telex.png");
}
#avim-tb-vni {
	list-style-image: url("chrome://avim/content/skin/tb-vni.png");
}
#avim-tb-viqr {
	list-style-image: url("chrome://avim/content/skin/tb-viqr.png");
}
#avim-tb-viqr-star {
	list-style-image: url("chrome://avim/content/skin/tb-viqr-star.png");
}

.avim-tb {
	-moz-image-region: rect(0px, 24px, 24px, 0px);
}

toolbar[iconsize="small"] .avim-tb {
	-moz-image-region: rect(0px, 40px, 16px, 24px);
}

.avim-tb[disabled="true"] {
	opacity: 0.8;
}
