@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#avim-tb {
	color: rgb(34, 34, 34);
}

#avim-tb[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #avim-tb {
	list-style-image: url(chrome://avim/content/skin/tb.svg);
}

#avim-tb.overflowedItem {
	list-style-image: url(chrome://avim/content/skin/tb.svg);
}

#avim-tb:not([cui-areatype="menu-panel"]) .toolbarbutton-menubutton-button {
	-moz-box-orient: horizontal;
}

#avim-status[avim-hidden="true"],
#avim-tb:not(.overflowedItem) .toolbarbutton-icon,
#avim-tb[cui-areatype="menu-panel"] .toolbarbutton-text,
toolbarpaletteitem[place="palette"] > #avim-tb .toolbarbutton-text {
	display: none;
}

#avim-tb.overflowedItem .toolbarbutton-icon {
	height: 18px;
	width: 18px;
}

#avim-tb[cui-areatype="menu-panel"] .toolbarbutton-multiline-text::before,
toolbarpaletteitem[place="palette"] > #avim-tb :-moz-any(.toolbarbutton-text, .toolbarbutton-multiline-text)::before {
	content: "AVIM\A";
	white-space: pre-wrap;
}

#avim-tb .toolbarbutton-text,
#avim-tb[cui-areatype="menu-panel"] .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > #avim-tb .toolbarbutton-icon {
	display: -moz-box;
}

#avim-tb .toolbarbutton-text,
#avim-status {
	animation: enabled 2s ease-in-out;
}

#avim-tb[avim-disabled="true"] :-moz-any(.toolbarbutton-text, .toolbarbutton-multiline-text),
#avim-status[avim-disabled="true"] {
	animation: disabled 2s ease-in-out;
	text-decoration: line-through;
	-moz-text-decoration-style: double;
	-moz-text-decoration-color: currentColor;
}

#avim-status[avim-hidden="true"] {
	display: none;
}

:-moz-any(#avim-status-enabled, #avim-status-enabled-dynamic)
	:-moz-any(.menu-accel, .menu-iconic-accel)::before {
	content: "Ctrl Ctrl";
}

:-moz-any(#avim-status-enabled, #avim-status-enabled-dynamic)[avim-accel="mac"]
	:-moz-any(.menu-accel, .menu-iconic-accel)::before {
	content: "\2303\2303";
}

@keyframes enabled {
	from {
		color: #3366ff;
	}
}

@keyframes disabled {
	from {
		-moz-text-decoration-color: red;
	}
}
